dialog {
  border: 3px solid black;
  max-width: 80%;
  border-radius: 0.5em;
  color: #707070;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,.8);
  min-height: 28em;
  max-height: 80%;
}

.dialog-inner-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

dialog::backdrop {
  background: rgb(99 110 122 / 20%); /* from github's delete repo overlay */
}